<% editable = true if editable.nil? %>
<article class="module width_full">
  <%= form_for(@page) do |f| %>
	  <header><h3><%= title %></h3></header>
		  <div class="module_content">
				  <fieldset>
            <%= f.label :title %>
            <%= editable ? f.text_field(:title) : f.object.title %>
				  </fieldset>
				  <fieldset>
            <%= f.label :description %>
            <%= editable ? f.text_field(:description) : f.object.description %>
					</fieldset>
					<fieldset>
            <%= f.label :tags %>
            <%= editable ? f.text_field(:tags) : f.object.tags %>
					</fieldset>
					<% controller = ActiveSupport::Dependencies.ref("#{f.object.controller_path.camelize}Controller").get %>
					<% if !f.object.page_contents.empty? && f.object.page_contents.detect{|content| controller.managable_content_for.include? content.key.to_sym} %>
            <%= f.fields_for :page_contents do |content| %>
              <% if controller.managable_content_for.include? content.object.key.to_sym %>
                <fieldset>
                  <%= editable ? content.hidden_field(:id) : '' %>
                  <%= content.label I18n.t("admin.content.#{content.object.key}") %>
                  <%= editable ? content.text_area(:content, :class => 'wysiwyg') : content.object.content.html_safe %>
                </fieldset>
              <% end %>
            <% end %>
          <% end %>
          <div class="clear"></div>
		  </div>
		<% if editable %>
	    <footer>
		    <div class="submit_link">
          <%= f.submit t('admin.save'), :class => 'alt_btn' %>
		    </div>
	    </footer>
	  <% end %>
  <% end %>
</article>

