<header><h3><%= t('admin.pages.panel') %></h3></header>
<div class="tab_container">
	<table class="data-table" cellspacing="0">
    <thead>
      <tr>
		      <th><%= Admin::Page.human_attribute_name(:url) %></th>
		      <th><%= Admin::Page.human_attribute_name(:title) %></th>
		      <th><%= Admin::Page.human_attribute_name(:updated_at) %></th>
		      <th><%= t('admin.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @pages.each do |page| %>
        <tr>
		      <td><%= link_to_if (url = page.url), url, url %></td>
		      <td><%= page.title %> <%= page.controller_path == 'application' ? ' - ' + t('admin.pages.general') : '' %></td>
		      <td><%= l(page.updated_at, :format => :short) %></td>
		      <td>
            <%= icon_link_to(:edit, edit_admin_page_path(page)) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

