<p><%= t('devise.views.passwords.reset_email.hello', :user => @resource.email) %></p>
<p><%= t('devise.views.passwords.reset_email.requested') %></p>
<p><%= link_to t('devise.views.passwords.reset_email.link'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
<p><%= t('devise.views.passwords.reset_email.ignore') %></p>
<p><%= t('devise.views.passwords.reset_email.password_change') %></p>

